:root {
    --bg-dark: #0D1117;
    --bg-surface: #161B22;
    --text-light: #E6EDF3;
    --text-muted: #8B949E;
    --primary: #58A6FF;
    --primary-hover: #1F6FEB;
    --border-dark: #30363D;
    --accent: #3980dc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: var(--text-light);
    background-color: var(--bg-dark);
    font-family: monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    background-color: var(--bg-surface);
    border-bottom: 1px solid var(--border-dark);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 30px;
}

.navbar a {
    color: var(--text-light);
    text-decoration: none;
    margin: 0 8px;
    transition: all 500ms ease;
}

.navbar a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.hero-img img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}


/*Hero*/

.hero {
    display: flex;
    padding: 20px;
    margin-top: 70px;
    align-items: center;
    
}

.hero-content {
    flex: 1;
    max-width: 600px;
    align-items: center;
    margin: 10px auto;
    margin-left: 20px;
}

.hero-title{
    display: flex;
    gap: 16px;
    margin-top: 20px;
    flex-direction: column;
}

.hero-img {
    flex: 1;
    max-width: 600px;
    align-items: center;
    margin: 10px auto;
    /* order: 2; */
}

.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.badge{
    display: inline-block;
    background-color: var(--accent);
    color: var(--text-light);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

/*HABILIDADES*/

.skills{
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
}

.skill-list{
    list-style: none;
    margin: 12px 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 14px;
}

.skill-item{
    display: inline-block;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    background-color: var(--bg-surface);
    border: 1px solid var(--border-dark);
    color: var(--text-light);
    font-size: 14px;
    border-radius: 999999px ;
}

/*PROYECTS*/

.proyects{
    padding: 40px 20px 20px;
    margin: auto;
}

.proyects h2{
    margin: 0 0 18px;
}

.proyect-list{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}

.proyects-item{
    background-color: var(--bg-surface);
    border: 1px solid var(--border-dark);
    border-radius: 12px;
    padding: 16px;
    width: 280px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.2);
    margin: 12px 0 8px;
    transition: all 0.3s ease;
}

.proyects-item:hover{
    transform: translateY(-6px);
    border-color: var(--text-muted);
}

.proyect-img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 6px;
}

.proyects p{
    margin: 4px 0;
    font-size: 13px;
    color: var(--text-muted);
}

.proyect-link{
    display: inline-block;
    margin-top: 12px;
    color: var(--text-light);
    background-color: var(--primary-hover);
    text-decoration: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 6px;
    transition: background-color 500ms ease;
}

.proyect-link:hover{
    background-color: var(--primary);
}

